body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

/* Resuable */

.clearfix:after { 

  content : ""; 
  
  display:  table; 
  
  clear:  both; 
  
  }  


  /* NAVIGATION - BAR */

.NavBar-middlePlace h3 a {
  text-decoration: none;
  color: #00ff00;
}

.NavBar {
  margin: auto;
  width: 800px;
  height: 60px;
  box-sizing: border-box;
  padding: 10px 0;
}

.NavBar-BarForBars {
  margin: auto;
  width: 800px;
  height: 40px;
  justify-content: center;
  display: flex;
}

.NavBar-middlePlace {
  width: 250px;
  height: 38px;
  border-top: 0.4px solid #00ff00;
  border-left: 1px solid #00ff00;
  border-right: 1px solid #00ff00;
  border-bottom: 0.4px solid #00ff00;
  box-sizing: border-box;
  padding: 8px;
  background: linear-gradient(45deg,#00ff00,black,black, #00ff00);
}

.NavBar-middlePlace h3 {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  color: blue;
}


/* Component DataFilter */

.DataFilter {
  max-width: 800px;
  height: 120px;
  margin: auto;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  color: blue;
}

.DataFilterColon {
  margin-top: 50px; 
  max-width: 330px;
  height: 50px;
  border: 1px solid blue;
  box-sizing: border-box;
  padding: 5px 12px;
  box-shadow: 0px 0px 5px 0px blue;
  background: linear-gradient(20deg,blue,black,blue);

}

.DataFilterColon-V0 {
  max-width: 300px;
  height: 36px;
  border: 1px solid transparent;
  display: inline-block;
  box-sizing: border-box;
  padding: 3.5px 6px 6px 6px;
}

.DataFilterColon-V0 p {
  display: inline-block;
  width: 50px;
  margin: 0px 0 0 14px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-align: center;
}

.DataFilterColon-V0 input {
  display: inline-block;
  width: 150px;
  height: 20px;
  margin-left: 50px;
  background: black;
  border: 1px solid blue;
  color: blue;
  border-radius: 5px;
  outline: none;
}

/* Fetch public data */

.FetchPublicData {
  text-align: center;
  display: block;
  margin-top: 50px;
  min-height: 910px;
  width: 250px;
  border: 1px solid blue;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px blue;
  background: linear-gradient(-30deg,blue,rgba(0, 0, 255, 0.245), black,rgba(0, 0, 255, 0.245), black,rgba(0, 0, 255, 0.245), black,rgba(0, 0, 255, 0.245), blue);
}

.FetchPublicData h2 {
  color: red;
  text-shadow: 0.5px -0.5px 0px red;
  font-size: 25px;
}

.FetchPublicData p {
  transform: skew(-3deg);
  font-size: 17px;
  letter-spacing: 0.5px;
  color: rgb(0, 30, 255);
  text-shadow: -0.5px -0.5px 0px rgb(0, 30, 255);
}

.FetchPublicData p:hover {
  color: #00ff00;
  text-shadow: -0.5px -0.5px 2px #00ff00;
}

.useFetchFilms a {
  text-decoration:  none;
  font-family:  sans-serif;
  font-size: 15px;
  color: blue;
}


/* Info */
.Info {
  margin: auto;
  max-width: 576px;
  height: 300px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.InfoPlace {
  max-width: 316px;
  height: 300px;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
  position: relative;
}

.InfoPlace img {
  max-width: 100%;
  min-height: 100%;
}

.InfoPlace a {
  transform: rotate(3deg);
  color: white;
  text-decoration: none;
  font-size: 21px;
  position: absolute;
  top: 75px;
  left: 164px;
}

.InfoPlace a:hover {
  text-decoration: underline;
}

.InfoPlace h3 {
  text-align: left;
  color: white;
  font-size: 20px;
}

.InfoPlace p {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}




/* only one item */
.OnlyOneItem {
  margin-top: 50px;
  text-align: center;
  color: #00ff00;
}

.OnlyOneNameInfo {
  margin: auto;
  max-width: 550px;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  background: linear-gradient(-45deg,blue, black , black, blue);
}

.OnlyOneNameInfo span {
  color: blue;
  text-shadow: -0.5px -0.5px 1px blue;
}

.OnlyOneNameInfo h2 {
  text-shadow: -1px 0px 5px red;
  color: red;
}

/* Page 404 */

.Page404 {
  text-align: center;
  color: blue;
  font-family: serif;
  font-size: 20px;
}




