@media only screen and (max-width: 850px) { 

    /* Home.js */
    /* Home.js */
    /* Home.js */

    .DataFilter {
        display: block;
        margin: 50px auto;
    }

    .DataFilterColon {
        margin: 0 auto;
        max-width: 330px;
        display: block;
    }


    .FetchPublicData {
        margin: 0 auto;
    }


    .Info {
        margin: 900px auto;
        max-width: 322px;
        min-height: 300px;
    }

    

    .InfoPlace {
        border: 1px solid blue;
        margin: 0 auto;
        min-height: 300px;
    }

    .NavBar {
        margin:  0 auto;
        width: 250px;
    }

    .NavBar-BarForBars {
        width: 250px;
    }



} 


@media only screen and (max-width: 330px) {
    .DataFilterColon-V0 p {
        margin: 0;
    }

    .DataFilterColon-V0 input {
        margin-left: 10px;
    }

    .InfoPlace p {
        font-size: 15px;
    }
}